# Visual Studio Files:
**/UE4Project/.vs/

# Unreal Ungine Files:
**/UE4Project/Binaries
**/UE4Project/Intermediate
**/UE4Project/Saved
UE4Project/Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log

# Packing folder :
**/Dungeons